.App {
  text-align: center;
}

body{
  background-repeat:no-repeat ;
  background-size: cover;
  background-position:center;
}
.principal{
  background-image: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
#imagen{
  width: 150px;
  height: 150px;   
}
#fondoBG{
  background-image: url("/public/portal.jpg");
  background-size: cover; 
  width: 500px;
  height: 500px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
